<div class="row">
  <div class="col-md-6">
    <h1>Online now</h1>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Full name</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <% if user.avatar.exists? %>
        <img src="<%= user.avatar.url %>" class="avatar-small">
        <% end %>
      </td>
      <td><%= user.full_name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-6">
    <%= page_entries_info @users %>
  </div>
  <div class="col-sm-6">
    <%= paginate @users %>
  </div>
</div>
