<!-- Portfolio Section -->
<section class="section">
  <!-- Container Starts -->
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Have More Fun!</h2>
      <hr class="lines">
      <br>
      <div class="row">
        <div class="col-md-6">
          <%= image_tag 'morefriends.jpg', class: 'img-responsive', alt: "Mobile Physiotherapist" %>
        </div>
        <div class="col-md-6">
          <div class="section-subtitle">
            <p>Lorem ipsum dolor sit amet, nec nobis exerci homero no. Ea vel delicata dissentiunt, laoreet suscipiantur eum cu, pri saepe possim facilis no. Vim dicam lucilius te, his dicit erroribus accusamus et. Et sit quod vituperatoribus, eam cu modus nonumy, qui no audire deleniti accusamus.</p>
            <p>Prompta adipisci delicata mei at, usu dicant maiorum definiebas et, in facer primis recteque mei. Et ius hinc utinam, graeco eleifend quo no. Te sint quidam propriae nam. At clita imperdiet laboramus pri.</p>

          </div>
          <br>
          <a href="https://owner.health/bookings" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Find Out More</a>
        </div>
      </div>
    </div>
</section>
<!-- Portfolio Section Ends -->
