<!-- Introduction Section Start -->
<section id="services" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
        Meet New People
      </h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <br>
      <div class="row">
        <div class="col-md-6 section-subtitle">
          Lorem ipsum dolor sit amet, pro quodsi saperet epicuri ut, vis aliquam detraxit conclusionemque at. Probo oportere qualisque sit an. Cu quod primis eos, eum ei atqui erroribus assueverit. Usu eu labore nemore volutpat, te alienum reprimique pro, ius cu prompta convenire definitiones. Vel ex elitr homero oporteat, lorem impedit imperdiet ad ius. Eum ut saepe eleifend erroribus, an esse euripidis nam.
          <br><br>
          Quo clita omnium impedit in. Eu audiam accumsan ius, corpora elaboraret ei vis, est ex habeo accusam suscipit. Vix eu tibique molestie, ut falli nullam pri. An vix ludus copiosae liberavisse, tantas graece blandit ne sea.
          <br><br>
          <a href="#" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Search companion requests</a>
        </div>
        <div class="col-md-6">
          <%= image_tag 'friends.jpg', class: 'img-responsive', alt: "Mobile Physiotherapist" %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Introduction Section End -->
