<div class="jumbotron hero-background">
  <div class="col-lg-6 col-md-12 col-12">
    <h1 class="display-2 hero-heading">Companion App</h1>
    <p class="lead hero-subheading">
      A great place to meet friends online.
    </p>
  </div>
</div>
