<div class="box">
  <div class="box-header with-border">
    <h2 class="box-title">New request</h2>
  </div>
  <div class="box-body">
    <%= render 'form', advertisement: @advertisement %>
  </div>
</div>
