<div class="row">
  <div class="col-md-6 col-sm-6 col-6">
    <h1>Advertisement</h1>
  </div>
  <div class="col-md-6 col-sm-6 col-6 text-right">
      <a class="btn btn-outline-primary" href="<%= edit_advertisement_path(@advertisement) %>">Edit</a>
  </div>
</div>
<hr>
<p>
  <strong>Title:</strong>
  <%= @advertisement.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @advertisement.description %>
</p>

<p>
  <strong>City:</strong>
  <%= @advertisement.city %>
</p>

<a href="#">Register interest</a> | <a href="#">Select person</a>

<hr>
<h3>Public Chatter</h3>
<p>Public chatter will be accessible to creator and all registered users.</p>
<hr>
<h3>Private Chatter</h3>
<p>Private chatter will be accessible to the creator selected person, not other users.  </p>
