<h1><%= current_user.full_name %></h1>
<hr>
<ul>
  <li>Notifications</li>
  <li>Messages</li>
  <li>
    <a href="<%= edit_app_user_path(current_user) %>">
      User settings
    </a>
  </li>
  <li>Subscription settings</li>
</ul>
